<div class="container mt-4">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>Usuário</mat-label>
          <input formControlName="username" matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input formControlName="password" type="password" matInput />
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-4">
        <button
        type="submit"
        mat-flat-button
        color="primary"
        class="w-100"
        [disabled]="form.invalid"
        >
        Salvar
      </button>
    </div>
    </div>
  </form>
</div>
